@import 'fonts.css';

$color_white:#fff;
$color_darck:#333333;
$color_gray:#b9b4b4;
$color_hower:#DDF0A7;
$color_gradient: linear-gradient(to right, #FFDF00 0%, #FFB800 100%);
$color_arrow: #FFE30B;
$color_bg:#FFF9E3;

body {
    font-family: 'ProximaNova';
    font-style: normal;
    color: $color_darck;
}

.container {
    margin: 0 auto;
    width: 100%;
}
h1{
    font-weight: 400;
    font-size: 74px;
}

h3 {
    font-weight: 800;
    font-size: 44;
    margin: 40px 0 40px;
}

h4 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

h5 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

h6 {
    font-weight: 700;
    font-size: 10px;

}

p {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 1.2;

    span {
        font-weight: 700;

    }
}

.logo {
    padding-right: 100px;
}

.nav-link {

    font-weight: 600;
    font-size: 18px;
    color: $color_darck !important;
    margin-right: 22px;
}


.social {
    height: 35px;
    width: 129px;
    display: flex;
    justify-content: center;

    list-style: none;
    background-image: url("../img/icons/social-icons.svg");
    margin-right: 30px;


    a {
        position: relative;
        display: block;
        transition: .3s ease-in-out;
        width: 35px;
        height: 35px;
        margin-left: -9px;
        margin-right: 22px;
        border-radius: 10%;

        &:hover {
            background-color: $color_hower;
            opacity: 0.5;
        }
    }
}

.contact-module {
    .subtitle {
        font-weight: 400;
        font-size: 16px;
    }

    .number-module {
        background-color: $color_gray;

        .subtitle-number {
            font-weight: 600;
            font-size: 22px;
        }
    }
}

.baner {
    position: relative;
    margin: 80px 0;



    .baner-content {
        max-width: 810px;
        position: relative;
        background-color: $color_gray;
        border: 1px solid $color_darck;
        


        &::before {
            content: "";
            position: absolute;
            left: -120px;
            top: -50px;
            width: 350px;
            height: 350px; 
            background: url("../img/semicircle.png") no-repeat;
            background-size: contain;
            z-index: -1;


        }

        &::after {
            content: "";
            position: absolute;
            bottom: -100px;
            right: 200px;
            width: 150px;
            height: 150px;
            background: url("../img/circle.png") no-repeat;
            background-size: contain;
            z-index: 1;
        }

        .baner-content__subtitle {
            font-weight: 700;
            font-size: 16px;

        }
    }


    .baner-img {
        width: 700px;
        height: 820px;
        position: absolute;
        right: -111px;
        top: 318px;
        transform: translateY(-50%);
    }


}

.baner-footer__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.btn {
    font-weight: 700;
    font-size: 20;
    background: $color_gradient;
    margin-top: 40px;
    padding: 13px 21px;
    width: 310px;
}

.test-part-section {
    margin: 100px 0 60px;

    .test-content {
        width: 830px;


    }

    .test-img {
        width: 700px;
        margin-right: 40px;
    }
}

.best-company-section {
    background: $color_gradient;
    margin-bottom: 60px;

    .best-company__content {
        width: 700px;

        .frame-logo {
            margin: 20px 0 40px;
            width: 530px;
        }
    }

    .company-img {
        width: 546px;
        height: 327px;
    }
}


.central-image {
    position: relative;
    width: 350px;
    height: 350px;
    margin: 150px auto;
}

.central-image img {
    width: 100%;
    height: 100%;
}

.advantages {
    position: absolute;
    display: flex;
    align-items: center;
    transform: translate(-50%, -50%);
    width: 500px;

    img {
        width: 60px;
        height: 60px;

    }
}

.advantage-left {
    text-align: end;
    margin-right: 15px;
}

.advantage-right {
    text-align: start;
    margin-left: 15px;
}

.gallery-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.gallery-wrapper {
    width: calc(4 * 320px);
    overflow: hidden;
}

.gallery {
    display: flex;
    transition: transform 0.3s ease;


    img {
        max-width: 320px;
        height: auto;
        margin: 0 5px;

    }
}


.arrow {
    font-size: 24px;
    color: $color_darck;
    cursor: pointer;
    padding: 2px 15px;
    user-select: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: $color_white;
    transition: background-color 0.3s ease;
    z-index: 1;

}

.left-arrow, .left-arrow-6 {
    left: -5px;
}

.right-arrow, .right-arrow-6{
    right: -5px;
}

.arrow.active {
    background-color: $color_arrow;
}

.our-contribution-section {

    .our-contribution__wrapper-item {
        border-radius: 10px;
        border: 1px solid $color_bg;
        padding: 15px;
        width: 420px;

        img {
            margin-bottom: 20px;

        }
    }

    .full-yellow {
        background-color: $color_bg;
    }


}

.gallery-wrapper-6 {
    width: calc(6 * 220px);
    overflow: hidden;
}

.gallery-6 {
    display: flex;
    transition: transform 0.3s ease;


    img {
        max-width: 220px;
        height: auto;
        border-radius: 10px;
    }
}

.charity-block__item-firstpart {
    display: flex;
    justify-content: space-between;
    height: 420px;

    .charity-block__item-content{
        max-width: 585px;
    }


    .images {
        position: relative;
        width: 100%;
        height: auto;
    }

    .image {
        position: absolute;
        height: auto;
        width: 100%;


        &:nth-child(1) {
            width: 313px;
            top: 22%;
            left: 7%;
            z-index: 2;
        }

        &:nth-child(2) {
            width: 418px;
            top: 8%;
            left: 42%;
            z-index: 1;
        }

        &:nth-child(3) {
            width: 296px;
            top: 39%;
            left: 49%;
            z-index: 3;
        }

        img {
            width: 100%;
            height: auto;
            border-radius: 5px;
        }
    }
    
}

.charity-block__item-secondtpart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    padding: 20px;

    .card {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 410px;
        padding: 10px;
        text-align: center;
        align-items: center;

        img {
            max-width: 50px;
            margin-bottom: 10px;
        }
    }
}

.footer { 
    background-image: url('../img/footer.png');
    width: 100%;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    margin-top: 50px;
    
    .title{
        color: $color_white;
    }
} 
.footer-content { 
    display: flex; 
    justify-content: space-between; 
   
    flex-wrap: wrap; 
   
} 

.footer-logo { 
    background-color: #ffcc00; 
    max-width: 390px; 
    margin-right: 30px;
    padding: 10px;
    img{
        margin-bottom: 20px;
    }
} 
 
.footer-contact, 
.footer-address, 
.footer-startups { 
    flex: 1; 
    max-width: 300px; 
    margin-top: 50px;
} 
.footer-contact ul, 
.footer-address ul, 
.footer-startups ul { 
    list-style-type: none; 
    padding: 0; 
} 
.footer-contact li, 
.footer-address li, 
.footer-startups li { 
    margin-bottom: 10px; 
    color:$color_white; 
} 
.footer-contact a, 
.footer-address a { 
    text-decoration: none; 
    color:$color_white; 
} 
.footer-social { 
    display: flex; 
    gap: 36px; 
    margin-top: 10px; 
} 
.footer-social a { 
    color:$color_white; 
    font-size: 24px; 
    text-decoration: none; 
} 
.footer-startups__content{
    display: flex;
    flex-wrap: wrap;
   
    .logo-ukraine{
        width:80px;
        margin-right: 15px;
    }
}